@charset "UTF-8";
/* === main.scss === */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/*
Då tex med:
 @mixin -klassen-{
    display:flex;
}
*/
/* Tablet (min-width: 600px) */
@media (min-width: 600px) {
  header {
    padding: 20px;
  }
  header .logo {
    width: 60px;
  }
  header .login-icon {
    width: 35px;
  }
}
/* Desktop (min-width: 1024px) */
@media (min-width: 1024px) {
  .bottom-nav {
    height: 80px;
  }
  .cta-button {
    width: 70px;
    height: 70px;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  width: 100%;
}
header .logo {
  width: 50px;
}
header .login-icon {
  margin-top: 5%;
  margin-left: 70%;
  width: 30px;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: $nav-height; */
  border-top: 1px solid #ddd;
}
.bottom-nav .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  margin-top: 18px;
}
.bottom-nav .nav-item img {
  width: 24px;
  height: 24px;
}
.bottom-nav .cta-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-image: url("/images/cta-button.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.bottom-nav .cta-button:hover {
  background-image: url("/images/cta-button-hover.svg");
}

* main {
  display: flex;
  flex-direction: column;
}

.habit-container {
  background-color: #FBFAF7;
  padding: 10px;
  border-radius: 5px;
  border-color: #ffffff;
  width: 15rem;
  height: 5rem;
  margin-top: 30px;
}

:hover {
  border-color: #FFBC2C;
}

.hidden {
  display: none;
}

#form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 20px;
  background-color: #FBFAF7;
  width: 300px;
  margin-top: 20px;
}

#habitForm {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #FBFAF7;
  width: 300px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#habitForm label,
#habitForm input,
#habitForm select {
  flex: 1; /* Gör att elementen delar på utrymmet */
  margin: 5px 0;
}

#habitForm br {
  display: none; /* Ta bort radbrytningar */
}

.habit-action-btn {
  display: flex;
  gap: 10px;
}

.habit-action-btn {
  display: flex;
  justify-content: space-between;
  width: 100%; /* tar upp hela bredden */
  margin-top: 10px;
}

#cancel-habit-btn, #add-habit-button {
  flex: 1; /* Gör att knapparna delar på utrymmet  */
  border-radius: 6px;
  border: none;
  text-align: center;
}

.number-input {
  display: flex;
  gap: 5px;
}
.number-input button {
  background-color: #FBFAF7;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
.number-input input {
  width: 50px;
  text-align: center;
}

body {
  background-color: #F3F2EE;
  color: #000000;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */