.habit-container{
    background-color: $card-backgroundcolor;
    padding: 10px;
    border-radius: 5px;
    border-color: #ffffff;
    width: 15rem;
    height: 5rem;
    margin-top: 30px;




}    :hover{
        border-color: #FFBC2C;
    }