
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    width: 100%;
  
    .logo {
      width: 50px;  
    }
  
    .login-icon {
        margin-top: 5%;
        margin-left: 70%;
        width: 30px;
    }
  
  }