// Här lägger vi in våra färger och övriga varibler som vi vill återanvända 

$primary-backgroundcolor: ;      
$secondary-backgroundcolor: ; 
$primary-textcolor: ;
$secondary-textcolor: ;
$font-family:  ;
$base-padding: ;

