// Här lägger vi in våra färger och övriga varibler som vi vill återanvända 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-font: 'Roboto', sans-serif;
$primary-backgroundcolor: #F3F2EE ;      
// $secondary-backgroundcolor: ; 
$card-backgroundcolor:#FBFAF7 ; 
$primary-textcolor: #000000;
$secondary-textcolor: #9D9D9D;
$yellow-detailcolor:#FFBC2C;
$base-padding: 10px;
$white-button-text: #ffffff;

