// Här lägger vi in våra färger och övriga varibler som vi vill återanvända 

$primary-backgroundcolor: #F3F2EE ;      
// $secondary-backgroundcolor: ; 
$card-backgroundcolor:#FBFAF7 ; 
$primary-textcolor: ;
$secondary-textcolor: ;
$logo-add-button-color: #FFBC2C ;
$font-family:  ;
$base-padding: ;

