@charset "UTF-8";
/* === main.scss === */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/*
Då tex med:
 @mixin -klassen-{
    display:flex;
}
*/
/* Tablet (min-width: 600px) */
@media (min-width: 600px) {
  header {
    padding: 20px;
  }
  header .logo {
    width: 60px;
  }
  header .login-icon {
    width: 35px;
  }
}
/* Desktop (min-width: 1024px) */
@media (min-width: 1024px) {
  .bottom-nav {
    height: 80px;
  }
  .cta-button {
    width: 70px;
    height: 70px;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  width: 100%;
}
header .logo {
  width: 50px;
}
header .login-icon {
  margin-top: 5%;
  margin-left: 70%;
  width: 30px;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: $nav-height; */
  border-top: 1px solid #ddd;
}
.bottom-nav .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  margin-top: 18px;
}
.bottom-nav .nav-item img {
  width: 24px;
  height: 24px;
}
.bottom-nav .cta-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-image: url("/images/cta-button.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.bottom-nav .cta-button:hover {
  background-image: url("/images/cta-button-hover.svg");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todo {
  position: fixed;
  top: 100vh;
  left: 0px;
  width: 100%;
  height: 100%;
}

.todo .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 100ms ease-in-out 200ms;
}

.todo .todo-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.15);
  width: 95%;
  max-width: 350px;
  background: #FBFAF7;
  padding: 25px;
  border-radius: 20px;
  opacity: 0;
  box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 300ms ease-in-out;
}

.todo .todo-content h1 {
  margin: 10px 0px;
  font-size: 20px;
  color: #616161;
  text-align: left;
}

.todo .todo-content h2 {
  margin: 10px 0px;
  font-size: 16px;
  color: #616161;
  text-align: left;
}

.todo .todo-content p {
  margin: 15px 0px;
  color: #616161;
  font-size: 14px;
  text-align: left;
}

.todo .todo-content .controls {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 0px;
}

.todo .todo-content .controls button {
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.todo .todo-content .controls {
  background: transparent;
  color: #7C7C7C;
}

.todo .todo-content .controls .save-btn {
  background: #7C7C7C;
  color: #fff;
}

.todo-active {
  top: 0px;
  transition: top 0ms ease-in-out 0ms;
}

.todo-active .overlay {
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.todo-active .todo-content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

/* Edit Icon styling */
.edit-icon {
  cursor: pointer;
  font-size: 20px;
  color: #616161;
  position: absolute;
  top: 10px;
  right: 40px;
  z-index: 10;
  transition: color 0.3s ease;
}

.edit-icon:hover {
  color: #ff0000;
}

.close-icon {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #616161;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
  transition: color 0.3s ease;
}

.close-icon:hover {
  color: #ff0000;
}

/* Editable elements styling */
h1[contenteditable], h2[contenteditable], p[contenteditable] {
  border: 1px solid #616161;
  padding: 5px;
  outline: none;
  background-color: #D9D9D9;
  opacity: 30%;
}

body {
  background-color: #F3F2EE;
  color: #000000;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}